@font-face {
    font-family: 'ZenKakuGothicNew';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/ZenKakuGothicNew-Light.ttf') format('truetype');
  }

@font-face {
    font-family: 'ZenKakuGothicNew';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/ZenKakuGothicNew-Medium.ttf') format('truetype');
  }

body {
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'ZenKakuGothicNew';
    margin: 1em 0 1em 0;
    word-wrap: normal;
    font-weight: 300;
    background-color: #f1f0ee;
}

input {
    font-family: 'ZenKakuGothicNew';
    font-weight: 400;
    background-color: #f1f0ee;
    border-width: thin;
}

.heading {
    text-align: center;
    font-weight: 300;
    font-size: 3em;
    margin-bottom: 0;
    font-size-adjust: 2em;
    letter-spacing: 0.3em;
    margin: 0;
    margin-top: 2em;
}

.chinese-seat {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.language-button {
    position: absolute;
    right: 1em;
    top: 1.5em;
}

.list-container {
    margin: 0 4em 0 4em;
    color: #434109;
}

.search-bar {
    width: -webkit-fill-available;
    margin-bottom: 2em;
}

.chart-table {
    display: grid;
    grid-template: 1fr / 5fr 5fr 1fr;
    gap: 0.5em;
}

.table-number {
    margin-left: auto;
}